@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Dosis:wght@300;400;500;600;700;800&family=Oxygen:wght@300;400;700&family=Ubuntu:wght@300;400;500;700&display=swap');
body{
  background: #07050ad6;
  color: #ecebe8;
  font-family: "Oxygen", monospace;
  padding-left: 30px;
}
section{
  padding-left: 30px;
}
a{
  color: #78a2ec;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer a{
  color: #90a2ec;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
footer{
  border-top: 3px solid #a7bfbb;
  margin: 10px;
  text-align: center;
}
header{
  font-family: "Dosis", sans-serif;
}

#main-header{
  border-bottom: 3px solid #a7bfbb;
  display: inline-block;
  width: 100%;
}
h1, h2{
  letter-spacing: 2px;
  word-spacing: 4px;
  display:inline-block;
}
aside{
  float:left;
}
#main-parts{
  width:1000px;

}
.article-image{
  background-size: cover !important;
  background-position: center;
  width:40%;
  height:300px;
}
#contact-form{
  background-color: #716b79f6;
  border: 1px solid #aa9fb9f6;
  margin-top:10px;
  margin-bottom:10px;
  width: 60%;
}

input {
  border-radius: 5px;
}

.box-input, .sm-input, .lg-input {
  margin: 10px;
  padding: 10px 20px;
}

.box-input {
  width: 60%;
  height: 150px;
}
.sm-input {
  width: 20%;
}
.sm-input:focus, .lg-input:focus, .box-input:focus{
  background-color:#f7eac4;
  color: #3c57ec;
}

.lg-input  {
  width: 30%;
}
article > img {
  border-radius:100%;
}

.dropdown {
  float: right;
  margin: 10px 20px;
}
